.bigx {
	position: absolute;
	width:100vw;
	top: 0rem;
	left: 0;
	right: 0;
	color: var(--color-dark);
	z-index: -1;
	img {
		width: 100%;
		transform-origin: top;
		transition: transform .9s ease-in, opacity .3s ease-in;
		animation: bigx 1s;
	}
}

@keyframes bigx {
  from {
  	transform: scale3d(3, 3, 3);
	}
  to {
  	transform: scale3d(1, 1, 1);
  }
}