.hero {
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

.header {
	display: flex;
	justify-content: space-between;
	flex: 0;
	position: sticky;
	top: 0;
	@include breakpoint($medium + 1) {
		padding: 3rem;
	}
	@include breakpoint(0 $medium) {
		padding: 1rem;
	}
}

.intro {
	flex: 1;
	text-align: center;
	padding-top: 17vh;
	@include breakpoint(0 $medium) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

.header__logo {
	@include breakpoint(0 $medium) {
		width: 110px;
	}
}

.header__cta {
	text-transform: lowercase;
	font-size: 1.1rem;
}

.intro__desc {
	@include font-size(32px);
	max-width: 400px;
	margin: 2rem auto;
}