.hero {
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 3rem;
	flex: 0;
	position: sticky;
	top: 0;
}


.intro {
	flex: 1;
	text-align: center;
	padding-top: 17vh;
}

.header__cta {
	text-transform: lowercase;
	font-size: 1.1rem;
}

.intro__desc {
	@include font-size(32px);
	max-width: 400px;
	margin: 2rem auto;
}

.bigx {
	position: absolute;
	width:100vw;
	top: 0rem;
	left: 0;
	right: 0;
	color: var(--color-dark);
	z-index: -1;
	img {
		width: 100%;
		transform-origin: top;
		transition: transform .9s ease-in, opacity .3s ease-in;
		animation: bigx 1s;
	}
}

@keyframes bigx {
  from {
  	transform: scale3d(3, 3, 3);
	}
  to {
  	transform: scale3d(1, 1, 1);
  }
}