.intro {
	height: 100vh;
	display: flex;
  text-align: center;
  align-items: center;
	justify-content: center;
	flex-direction: column;
}

.intro__content {
	position: relative;
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	h1 {
    line-height: 1.071;
    margin-top: 0;
    margin-bottom: .6rem;
    margin-left: auto;
    margin-right: auto;
    //text-shadow: 0 0 20px rgba(0,0,0,.5);
    font-family: sans-serif;
    font-size: calc(16px + 8vw);
	}
	a {
		color: rgba(255, 255, 255, 0.8);
		border-color: rgba(255, 255, 255, 0.3);
		@include breakpoint(0 $small) {
			padding: .7rem 1.5rem;
			letter-spacing: .1rem;
		}
	}
}

.intro__msg {
	color: var(--base-color);
	font-size: 1.3rem;
	margin-bottom: 0;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .2rem;
	//text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.intro__content {
	h1 {
	    transition: all .3s ease-in-out;
	}
	.button {
		&:hover,
		&:focus {
			&:before,
	    	&:after {
	    		background-color: var(--base-color);
	    	}
		}
	}
}
