.footer {
	width: 100%;
	max-width: var(--page-max-width);
	position: relative;
	@include breakpoint($medium + 1) {
		padding: 0 2rem;
	}
	font-size: 70%;
	display: flex;
	justify-content: space-between;
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

.copyright {
	@include breakpoint($medium + 1) {
		padding: 10px;
	}
	text-align: center;
}
