.footer {
	width: 100%;
	max-width: var(--page-max-width);
	position: relative;
	padding: 0 2rem;
	font-size: 70%;
	display: flex;
	justify-content: space-between;
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

.copyright {
	padding: 10px;
	text-align: center;
}
